<launch>
	<node name="talker_node_B" type="talker.impl" pkg="example_node">
		<remap from="/out_topic" to="/chatter" />
	</node>
	
	<node name="talk_list_node" type="talk_list.impl" pkg="example_node">
		<remap from="/in_topic" to="/chatter" />
		<remap from="/out_topic" to="/chatter_pubsub" />
	</node>
	
	<node name="talker_node" type="talker.impl" pkg="example_node">
		<remap from="/out_topic" to="/chatter" />
	</node>
	
	<node name="listener_node" type="listener.impl" pkg="example_node">
		<remap from="/in_topic" to="/chatter_pubsub" />
	</node>
	
</launch>